@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-to-b {
    background: linear-gradient(to bottom, #000000, #000000);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}